.tabs-section {
    padding-top: 20px;
    padding-bottom: 56px;
    .tabs-parent {
      .tabs-changers {
        display: flex;
        align-items: flex-end;
        li {
          cursor: pointer;
          padding: 12px 40px;
          background-color: $white;
          color: $mainBlack;
          font-size: 2.2rem;
          line-height: 30px;
          font-weight: 600;
          border-radius: 12px 12px 0 0;
          &:first-child {
            margin-right: 10px;
            @media all and (max-width: 575.98px) {
              flex: 0 0 calc(50% - 10px);
              max-width: calc(50% - 10px);
            }
          }
          @media all and (max-width: 575.98px) {
            padding: 10px 15px;
            font-size: 1.4rem;
            line-height: 21px;
            flex: 0 0 50%;
            max-width: 50%;
            border-radius: 6px 6px 0 0;
          }
          @media all and (max-width: 360px) {
            font-size: 1.3rem;
          }
          &.active {
            background-color: $green;
            color: $white;
            padding: 16px 40px;
            @media all and (max-width: 575.98px) {
              padding: 10px 15px;
            }
          }
        }
      }
      .tabs-content {
        border-radius: 0 12px 12px 12px;
        @media all and (max-width: 575.98px) {
          border-radius: 0 0 6px 6px;
        }
        width: 100%;
        background-color: $white;
        .tab-one-content {
          display: none;
          padding: 40px 60px;
          @media all and (max-width: 575.98px) {
            padding: 13px 20px;
          }
          &.active {
            display: block;
          }
          p {
            font-size: 1.8rem;
            @media all and (max-width: 575.98px) {
              font-size: 1.4rem;
            }
            font-weight: 400;
            line-height: 28px;
            margin-bottom: 20px;
            color: $mainBlack;
          }
          .accordeon-content {
            margin-bottom: 24px;
            .accordeon-btn {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 25px 25px 25px 60px;
              font-size: 1.8rem;
              line-height: 24px;
              font-weight: 600;
              color: $mainBlack;
              background: rgba($green, 0.2);
              border-radius: 6px 6px 0 0;
              border: none;
              width: 100%;
              .accordeon-btn-image {
                display: block;
                position: relative;
                overflow: hidden;
                &::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  width: 20px;
                  height: 20px;
                  transform: translate(-50%, -50%);
                  z-index: 0;
                  background-color: $green;
                }
              }
              img {
                position: relative;
                z-index: 1;
                transition: 0.3s;
              }
              &.active {
                img {
                  transform: rotate(90deg);
                }
              }
              @media all and (max-width: 575.98px) {
                font-size: 1.2rem;
                line-height: 16px;
                padding: 15px 18px;
              }
            }
            .accordeon-inner {
              border: 1px solid #dae1e2;
              display: none;
              padding: 32px 60px;
              @media all and (max-width: 575.98px) {
                padding: 13px 15px;
              }
              box-shadow: 0 3px 6px rgba($mainBlack, 0.16);
              p {
                margin-bottom: 0;
                font-size: 1.8rem;
                line-height: 34px;
                font-weight: 400;
                color: $mainBlack;
              }
              .accordeon-inner-list {
                li {
                  padding-left: 15px;
                  font-size: 1.8rem;
                  line-height: 34px;
                  font-weight: 400;
                  color: $mainBlack;
                  font-family: inherit;
                  position: relative;
                  @media all and (max-width: 575.98px) {
                    font-size: 1.2rem;
                    line-height: 18px;
                    margin-bottom: 12px;
                  }
                  &::before {
                    content: "";
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    background-color: #c2c2c2;
                    position: absolute;
                    left: 0;
                    top: 14px;
                    @media all and (max-width: 575.98px) {
                      top: 7px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @import "./images-section";
  @import "./about-slider-section";
  