.right-side-content {
    background-color: $white;
    padding: 16px 30px 16px 30px;
    display: none;
    &.active {
      display: block;
      @media all and (max-width: 991.98px) {
        display: none;
      }
    }
    &.mobile-map {
      display: none;
      @media all and (max-width: 991.98px) {
        display: block;
        padding: 0 0 50px;
        background-color: #eeeeee;
        margin: 0 -80px;
      }
      @media all and (max-width: 767.98px) {
        margin: 0 -50px;
      }
      @media all and (max-width: 575.98px) {
        margin: 0 -35px;
      }
      iframe {
        width: 100%;
        height: 350px;
        border-radius: 20px;
        box-shadow: 0 3px 6px rgba($mainBlack, 0.16);
        @media all and (max-width: 991.98px) {
          border-radius: 0;
          box-shadow: none;
        }
        @media all and (max-width: 767.98px) {
          height: 250px;
        }
      }
    }
    .right-side-title {
      font-size: 1.8rem;
      line-height: 24px;
      font-weight: 600;
    }
    .right-side-map {
      iframe {
        width: 100%;
        height: 350px;
        border-radius: 20px;
        box-shadow: 0 3px 6px rgba($mainBlack, 0.16);
      }
      @media all and (max-width: 991.98px) {
        border-radius: 0;
      }
    }
    .right-side-btn {
      display: flex;
      margin-top: 25px;
      margin-bottom: 18px;
      @media all and (max-width: 991.98px) {
        display: none;
      }
      .hero-btn {
        margin-left: auto;
        border: none;
        background-color: $green;
        color: $white;
        font-size: 1.6rem;
        font-family: inherit;
        font-weight: 600;
        padding: 15px 10px 15px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        border-radius: 35px;
        transition: all 0.3s;
        img {
          margin-left: 25px;
        }
        &:hover {
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        }
      }
    }
    .right-side-list-content { 
      margin-bottom: 25px;
      @media all and (max-width: 991.98px) {
        display: none;
      }
      .right-side-lists-titles {
        font-size: 1.8rem;
        line-height: 24px;
        font-weight: 600;
        margin-bottom: 8px;
      }
      .right-side-lists {
        &__item {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 28px;
        }
      }
    }
  }
  